<!doctype html> <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->

  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style2.css') }}">

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.css">
  


    <title>DFSharp</title>

</head>
<body>

<div class="wrap">
    </div>
	<div data-role="page" id="page1">
  	<div data-role="header" data-theme="b">
    	<h1>Welcome to DFSharp!</h1>
	</div>
	<div class="page">
	<div data-role="collapsible" data-collapsed="true">
	<h3> Click For More Info</h3>
	<p> Below, you'll find an interactive lineup optimizer for NBA DFS.  </p>
	<p> As the NBA DFS season has concluded, below are sample projections and an optimizer from may 11th, 2016.</p>
	<!--<p> The projections used are updated with live injury information, and the ownership information is live as well, courtesy of <a href="https://www.OwnThePlay.com" target="_blank">OwnThePlay</a></p>-->
	<p> Historical graphs, news, and analysis can found <a href="http://DFSharps.com" target="_blank">Here</a></p>
	<p> Methodology behind the creation of this site, and the accompanying dashboard, can be found <a href="http://shermanash.github.io/DFSharp/" target="_blank">Here</a>
	<p>This site is open source (code is <a href="https://github.com/shermanash/DFSharp" target="_blank">Here</a>), in active development and new features are added often, so stay tuned for more, and happy optimizing!</p>
	<!--<p> Keep in mind when building lineups factoring ownership, that ownership information is most useful closer to tip-off, generally from 5-7PM.  </p>-->
<p> If you'd like to collaborate, or have any ideas for ways to improve the site, please send me an <a href="mailto:shermanash@gmail.com?Subject=DFSharp" target="_top">email</a></p>
	</div>

  </div>
  <div role="main" class="ui-content">
    <div data-role="tabs">
      <div data-role="navbar">
        <ul>
          <li><a href="#fragment-1" class="ui-btn-active">Lineup Optimizer</a></li>
          <li><a href="#fragment-2">Live Projections</a></li>
          <!--<li><a href="#fragment-3">Work In Progress</a></li>-->
        </ul>
      </div>
      <div id="fragment-1">


Tip: For the lock and exclude fields, don't worry about spelling Giannis Antetokounmpo perfectly- as long as you're close, DFSharp will guess correctly- and for most players not named James or Kevin, just a first or last name will be enough.
<form>
<div class="form-group">
        <input type="text" class="form-control" name="locker" placeholder="Locks- e.g. Stephen Curry, Draymond Green"></div>
<div class="form-group">
        <input type="text" class="form-control" name="excluder" placeholder="Excludes (or teams)- e.g. Alex Len, nyk, atl">
</div>
<!--
<div data-role="rangeslider" class="form-group" >
  <label for="minown">Ownership Min/Max:</label>
  <input name="minown" id="minown" min="0" max="100" value="0" type="range" />
  <label for="maxown">Ownership Min/Max:</label>
  <input name="maxown" id="maxown" min="0" max="100" value="100" type="range" />
</div>
-->
<p>Minimum DvP Rank:</p>
<div class="form-group" data-mini="true">
  <input type="range" data-highlight="true"  name="mindvp" value="0" min="0" max="5" data-show-value="true">
</div>
 <p>Minimum Salary:</p>
<div class="form-group" data-mini="true">
  <input type="range" data-highlight="true"  name="minsal" value="2500" min="2000" max="6000" data-show-value="true">
</div>

<!--<p><b>Enter Ownership Weight: -5 is Max Fade [GPP] | 0 is Projections only | 5 is Max Ownership [Cash Games]</b></p>-->
<p>Enter Variance Weight: -5 is Min Variance [Cash] | 0 is Target only | 5 is Max Variance [GPP]</p>

<div class="form-group">
  <input type="range" name="sliderbar" id="ex1" value="0" min="-5" max="5" data-show-value="true" data-theme="b" data-track-theme="b">
</div>
 
<div data-role="fieldcontain" class="form-group">
   <label for="select-choice-1" class="select">Target to Optimize:</label>
   <select name="select-choice-1" id="select-choice-1">
      <option value="DK_Proj">Projection</option>
      <!--<option value="DK_Proj_Reg">Alt Projection</option>-->
      <option value="proj_pure">Minutes * (DK/Min)</option>
      <option value="min_proj">Minutes Only</option>
   </select>
</div>

<a href="javascript:void();" type="submit" id="cal">
<div class="ui-btn ui-input-btn ui-shadow">
   Show Me The Lineup!
  <input type="button" data-corners="false" data-enhanced="true" value="Show Me The Lineup!"></input>
</div>

</a>

</form>

<!-- begin table which displays latest lineup-->
<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Position</th>
                <th>Name</th>
                <th>Team</th>
                <th>Opp</th>
                <th>Salary</th>
                <th>Projection</th>
                <!--<th>Alt Projection</th>-->
                <th>DvP</th>
                <th>Minutes (Proj*)</th>
                <th>DK Points/Min</th>
                <th>Value (Proj/Sal)</th>
                <th>Ceiling</th>
                <th>Floor</th>
                <th>Usage (5g Avg)</th>
            </tr>
        </thead>

	<tfoot>
            <tr>
                <th colspan="4" style="text-align:center"></th>
                <th></th>
                <th colspan="5" style="text-align:left"></th>
                <th></th>
		<th>Ceiling</th>
		<th></th>
            </tr>
        </tfoot>
       </table>
      </div>
      <div id="fragment-2">
<h3 id='mytitle'>Latest Projections</h1>
<p> Updated every 10 minutes to include minutes adjustments and latest injury updates.  Tip: Sort on multiple columns by holding down the Shift key.</p>

<form>
<div class="form-group2">
        <input type="text" class="form-control" name="minadjust" placeholder="Enter Minutes Adjustment (e.g. Kobe Bryant, 0)"></div>

<a href="javascript:void();" type="submit" id="cal2">Adjust</a>
</form>
<span id="result2">

</span>

<table id="example2" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
		<th></th>
                <th>Position</th>
                <th>Name</th>
                <th>Team</th>
                <th>Opp</th>
                <th>Salary</th>
                <th>Projection</th>
                <!--<th>Alt Projection</th>-->
                <th>Min * DK/Min</th>
                <th>Minutes (Proj*)</th>
                <th>DK Points/Min</th>
                <th>DvP</th>
                <th>Value (Proj/Sal)</th>
                <th>Usage (5g Avg)</th>
                <th>Std Deviation</th>
                <th>Ceiling</th>
                <th>Floor</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
		<th></th>
		<th>Position</th>
                <th>Name</th>
                <th>Team</th>
                <th>Opp</th>
                <th>Salary</th>
                <th>Projection</th>
                <!--<th>Alt Projection</th>-->
                <th>Min * DK/Min</th>
                <th>Minutes (Proj*)</th>
                <th>DK Points/Min</th>
                <th>DvP</th>
                <th>Value (Proj/Sal)</th>
                <th>Usage (5g Avg)</th>
                <th>Std Deviation</th>
                <th>Ceiling</th>
                <th>Floor</th>
	    </tr>
        </tfoot>
    </table>
      </div>
      <!--<div id="fragment-3">
         <p>news, injury updates, graphs on the way</p>
      </div>-->
    </div>
  </div>
</div>


<div style="display:none">    
    <table id="detailsTable">
        <thead> 
            <tr>
                <th>Player</th>
                <th>Minutes</th>
                <th>DKP</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


     <div>
</div>


<script>


  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72318729-2', 'auto');
  ga('send', 'pageview');

</script>


  <script type=text/javascript>
    $(function() {
      $('a#cal2').bind('click', function() {
        $.getJSON('/u', {
	  uu: $('input[name="minadjust"]').val(),
        }, function(data) {
          $('#result2').html(data.result);
	              });
        return false;
      });
    });
  </script>



<!--<script src="//code.jquery.com/jquery-1.10.2.js"></script>-->


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>


<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->

<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>
  <script type=text/javascript>

    $(function() {
       $('a#cal').bind('click', function() {
		var aa = $('input[name="locker"]').val();
	        var bb = $('input[name="excluder"]').val();
	        //var cc = $('input[name="minown"]').val();
	        //var dd = $('input[name="maxown"]').val();
	        var ee = $('input[name="mindvp"]').val();
	        var ff = $('input[name="minsal"]').val();
	        var gg = $('input[name="sliderbar"]').val();
		var e = document.getElementById("select-choice-1");
		var hh = e.options[e.selectedIndex].value;
	$('#example').dataTable( {
			"footerCallback": function ( row, data, start, end, display ) {
			var api = this.api(), data;
		// Total salary
		    pageTotal = api
			.column( 4, { page: 'current'} )
			.data()
			.reduce( function (a, b) {
			    return a + b;
			}, 0 );
		    // Total proj
		    projTotal = api
			.column( 5, { page: 'current'} )
			.data()
			.reduce( function (a, b) {
			    return Math.round(a + b);
			}, 0 );

		    // Total ceiling
		    ceilingTotal = api
			.column( 10, { page: 'current'} )
			.data()
			.reduce( function (a, b) {
			    return Math.round(a + b);
			}, 0 );

		    // Total floor
		    floorTotal = api
			.column( 11, { page: 'current'} )
			.data()
			.reduce( function (a, b) {
			    return Math.round(a + b);
			}, 0 );
	 
		  // update footers
		    // Update total sal
		    $( api.column( 4 ).footer() ).html(
			'$'+pageTotal
		    );
	     	// Update total proj
		    $( api.column( 5 ).footer() ).html(
			'Total Proj: ' + projTotal
		    );
		// Update ceiling
		    $( api.column( 10 ).footer() ).html(
			'Ceiling: ' + ceilingTotal
		    );
		// Update floor
		    $( api.column( 11 ).footer() ).html(
			'Floor: ' + floorTotal
		    );
 
		
			},
		"destroy": true,
		"searching": false,
		"scrollX": true,
		"order": [[4, "desc"]],
		"paging": false,
		"info": false,
		"bFilter": false,
		"bPaginate": false,
	  "ajax": {
          "url": "/t?aa="+aa+"&bb="+bb+"&ee="+ee+"&ff="+ff+"&gg="+gg+"&hh="+hh,
	    "dataSrc": ""
	  },
	"aoColumns":[
		{"mData":"numpos"},
		{"mData":"name"},
		{"mData":"Team"},
		{"mData":"Opp"},
		{"mData":"dk_sal"},
		//{"mData":"ownership"},
		{"mData":"DK_Proj"},
		//{"mData":"DK_Proj_Reg"},
		{"mData":"dvprank"},
		{"mData":"min_proj"},
		{"mData":"dk_per_min"},
		{"mData":"value"},
		{"mData":"ceiling"},
		{"mData":"floor"},
		{"mData":"usage_5g_avg"},
		]
	} );
       //   });
        return false;
      });
    });
  </script>


<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>
<script type="text/javascript">
$(document).ready( function () {
	$('#example').dataTable( {
		"footerCallback": function ( row, data, start, end, display ) {
            	var api = this.api(), data;
 
		    // Total salary
		    pageTotal = api
			.column( 4, { page: 'current'} )
			.data()
			.reduce( function (a, b) {
			    return a + b;
			}, 0 );
		    // Total proj
		    projTotal = api
			.column( 5, { page: 'current'} )
			.data()
			.reduce( function (a, b) {
			    return Math.round(a + b);
			}, 0 );

		    // Total ceiling
		    ceilingTotal = api
			.column( 10, { page: 'current'} )
			.data()
			.reduce( function (a, b) {
			    return Math.round(a + b);
			}, 0 );

		    // Total floor
		    floorTotal = api
			.column( 11, { page: 'current'} )
			.data()
			.reduce( function (a, b) {
			    return Math.round(a + b);
			}, 0 );
	 
		  // update footers
		    // Update total sal
		    $( api.column( 4 ).footer() ).html(
			'$'+pageTotal
		    );
	     	// Update total proj
		    $( api.column( 5 ).footer() ).html(
			'Total Proj: ' + projTotal
		    );
		// Update ceiling
		    $( api.column( 10 ).footer() ).html(
			'Ceiling: ' + ceilingTotal
		    );
		// Update floor
		    $( api.column( 11 ).footer() ).html(
			'Floor: ' + floorTotal
		    );



		},
		"searching": false,
		"scrollX": true,
		"order": [[4, "desc"]],
		"paging": false,
		"info": false,
		"bfilter": false,
		"bPaginate": false,
	  "ajax": {
	    "url": "/t?aa=&bb=&ee=&ff=&gg=0",
	    "dataSrc": ""
	  },
	"aoColumns":[
		{"mData":"numpos"},
		{"mData":"name"},
		{"mData":"Team"},
		{"mData":"Opp"},
		{"mData":"dk_sal"},
		//{"mData":"ownership"},
		{"mData":"DK_Proj"},
		//{"mData":"DK_Proj_Reg"},
		{"mData":"dvprank"},
		{"mData":"min_proj"},
		{"mData":"dk_per_min"},
		{"mData":"value"},
		{"mData":"ceiling"},
		{"mData":"floor"},
		{"mData":"usage_5g_avg"},
				]
	} );
} );



function format ( d ) {
	$.ajax({url: "/x?aa="+d.name, success: function(result) {
		return $("#div1").html(result);
	}});
};



function format3 ( d ) {


	$(document).ready(function() {
		var deTable = $('#detailsTable').DataTable( {
		//return	$('#detailsTable').DataTable( {
			"ajax": {
	    		"url": "/x?aa="+d.name,
	    		"dataSrc": ""
	  },
		"aoColumns":[
		{"mData":"name"},
		{"mData":"DKP"},
		{"mData":"Minutes"},
			]
	} );

	return deTable.html
} );
}

function format2 ( d ) {
return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
        '<tr>'+
            '<td>Full name:</td>'+
            '<td>'+d.name+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Extension number:</td>'+
        '</tr>'+
        '<tr>'+
            '<td>Extra info:</td>'+
            '<td>And any further details here (images etc)...</td>'+
        '</tr>'+
    '</table>';

}
	


function fnFormatDetails(table_id, html) {
    var sOut = "<table id=\"exampleTable_" + table_id + "\">";
    sOut += html;
    sOut += "</table>";
    return sOut;
}



var iTableCounter = 1;
    var oTable;
    var oInnerTable;
    var TableHtml;



// Projections DataTable ... 
$(document).ready( function () {

	//Run On HTML Build
        TableHtml = $("#example2").html();


        //Insert a 'details' column to the table
        var nCloneTh = document.createElement('th');
        var nCloneTd = document.createElement('td');
        nCloneTd.innerHTML = '<img src="http://i.imgur.com/SD7Dz.png">';
        nCloneTd.className = "center";

        $('#exampleTable thead tr').each(function () {
            this.insertBefore(nCloneTh, this.childNodes[0]);
        });

        $('#exampleTable tbody tr').each(function () {
            this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[0]);
        });


	var oTable = $('#example2').DataTable( {


		initComplete: function () {
		    this.api().columns().every( function () {
			var column = this;
			var select = $('<select><option value=""></option></select>')
			    .appendTo( $(column.footer()).empty() )
			    .on( 'change', function () {
				var val = $.fn.dataTable.util.escapeRegex(
				    $(this).val()
				);
	 
				column
				    .search( val ? '^'+val+'$' : '', true, false )
				    .draw();
			    } );
	 
			column.data().unique().sort().each( function ( d, j ) {
			    select.append( '<option value="'+d+'">'+d+'</option>' )
			} );
		    } );
		},

		    "bJQueryUI": true,
		    "sPaginationType": "full_numbers",
		"scrollX": true,
		"bAutoWidth": false,
		"order": [[5, "desc"]],
	  "ajax": {
	    "url": "/v?",
	    "dataSrc": ""
	  },
	"aoColumns":[
		{
                "className":      'details-control',
                "orderable":      false,
                "data":           null,
                "defaultContent": '',
		"width": "20px"
            	},
		{"mData":"numpos"},
		{"mData":"name"},
		{"mData":"Team"},
		{"mData":"Opp"},
		{"mData":"dk_sal"},
		//{"mData":"ownership"},
		{"mData":"DK_Proj"},
		//{"mData":"DK_Proj_Reg"},
		{"mData":"proj_pure"},
		{"mData":"min_proj"},
		{"mData":"dk_per_min"},
		{"mData":"dvprank"},
		{"mData":"value"},
		{"mData":"usage_5g_avg"},
		{"mData":"dk_std_90_days"},
		{"mData":"ceiling"},
		{"mData":"floor"},

				]
	});

	


	// Add event listener for opening and closing details
	//    $('#example2 tbody').on('click', 'td.details-control', function () {
	//	var tr = $(this).closest('tr');
	//	var row = table.row( tr );
	// 
	//	if ( row.child.isShown() ) {
	//	    // This row is already open - close it
	//	    row.child.hide();
	//	    tr.removeClass('shown');
	//	}
	//	else {
	//	    // Open this row
	//	var dra = row.data();
	//	var datas = $.ajax({url: "/x?aa="+dra.name});
	//	datas.print()
	//	    //row.child( format(row.data()) ).show();
	//	    tr.addClass('shown');
	//	}
	//    } );


 } );



    
               






</script>

<!--
<script type="text/javascript">
// attempting to highlight row
$(document).ready(function() {
    $('#example').dataTable( {
        "createdRow": function ( row, data, index ) {
            if ( data[7].replace(/[\$,]/g, '') * 1 > 3 ) {
                $('td', row).eq(7).addClass('highlight');
            }
        }
    } );
} );
<script type="text/javascript">
-->


</body>

</html>
